<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  Options -Indexes
  RewriteEngine on

  # if your app is in a subfolder
  #RewriteBase /LVC/

  RewriteCond %{SCRIPT_FILENAME} !-f

  RewriteRule ^(.*)$   index.php?uri=/$1    [NC,L,QSA]

</IfModule>